<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<link rel="stylesheet" href="../public/css/index.css">
<body>

<div class="container">

    <form  id="signinform" class="signincontainer">
    
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                placeholder="Enter name"
                required
            />
            <!-- <small id="helpId" class="form-text text-muted">Enter your name here</small> -->
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                
                placeholder="Enter Email"
                required
            />
            <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
        </div>
            
        <div class="mb-3">
            <label for="phoneno" class="form-label">Phone no</label>
            <input
                type="tel"
                class="form-control"
                name="phoneno"
                id="phoneno"
               required
                placeholder="Enter Phone no"
            />
            <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="********"
                required
            />
        </div>
        <button
            type="submit"
            class="btn btn-primary"
        >
            Submit
        </button>
        
    </form>
</div>
<script src="../public/js/index.js"></script>
</body>
</html>